/*------------------------------------
--------------- POP-UP COVID --------------------------------------------------------*/

/* Bouton Pop Up Style */

.CadreBoutonPopUpCovid {
	width: 100%;
	height: 40px;
	position: absolute;
	top:600px;
}
/*-------------------- BOUTON POP-UP ------------------------*/
.btnPopup{
	background:#30323d;
  	width:200px;
  	height:40px;
	line-height:40px;
  	text-align:center;
 	color: white;
  	margin:200px auto;
 	border-radius:10px;
	border:1px solid white;
	cursor:pointer;
	font-weight:bold;
	display: block;
	margin:auto;
}
.btnPopup:hover{
 	background:white;
	color:#30323d;
}
/*-------------------- FENETRE POP-UP ------------------------*/
.fenetre_popup{
	position: fixed;
	top: 0; /*positionner la fenêtre sombre de fond en haut*/
	background-color: rgba(0,0 ,0 , 0.5); /*couleur de fenêtre mi-transparente*/
	width: 100%;
	height: 100%;
	z-index: 5;
	display:none;
	align-items: center;
	flex-direction: column;
}
.haut_popup{
	margin-top: 200px;
	display:flex;
	justify-content: center;
	width: 70%;
	padding-top: 10px; /*élargir la boîte rouge du titre vers le haut*/
	padding-bottom: 10px; /*élargir la boîte rouge du titre vers le haut*/
	background-color: #d62839; /*red*/
	border-radius: 5px 5px 0px 0px; /*arrondi des bords*/
}
.popup{
	align-content: center;
	width: 70%;
	background-color: white;
	box-shadow: 0 15px 20px rgba(0, 0, 0, 0.3);
	border-radius: 0px 0px 5px 5px; /*arrondi des bords*/
}
.btnClose {
	text-align: center;
	float: right;
	font-size:16pt;
	cursor: pointer;
	color: rgb(26, 26, 26);
}
.titre_popup {
	font-family: Montserrat;
	font-size:20pt;
	color: white;
}
.text_popup {
	font-family: Montserrat;
	font-size:16pt;
	color: grey;
}
/*----------------------------------------------------- CARTE GOOGLE MAPS -----------------------------------------------*/
.CadreCarte {
	width: 100%;
    position: absolute;
	margin-top: 500px;
	text-align: center;
}
/*------------------------------------------------------ RÉSEAUX SOCIAUX -----------------------------------------------*/
.social-menu ul {
    position: absolute;
    top: 1500px;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 0;
    margin: 0;
    display: flex;
}
.social-menu ul li {
    list-style: none;
    margin: 0 10px;
}
.social-menu ul li .fa {
    color: #000000;
    font-size: 25px;
    line-height: 50px;
    transition: .5s;
}
.social-menu ul li .fa:hover {
    color: #ffffff;
}
.social-menu ul li a {
    position: relative;
    display: block;
    width: 50px; /*largeur des cercles*/
    height: 50px; /*hauteur des cercles*/
    border-radius: 10px ; /*rondeur des angles*/
    background-color: white;
    text-align: center;
    transition: 0.5s;
    transform: translate(0,0px);
    box-shadow: 0px 7px 5px rgba(0, 0, 0, 0.5); /*ombre des cercles*/
}
.social-menu ul li a:hover {
    transform: rotate(0deg) skew(0deg) translate(0, -10px);
}
.social-menu ul li:nth-child(1) a:hover {
    background-color: #3b5999;
}
.social-menu ul li:nth-child(2) a:hover {
    background-color: #55acee;
}
.social-menu ul li:nth-child(3) a:hover {
    background-color: #e4405f;
}
.social-menu ul li:nth-child(4) a:hover {
    background-color: #cd201f;
}