@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500&display=swap');


/*------------------------------------------------------- GÉNÉRAL -------------------------------------------------------*/

body, html 
{
	width: 100%;
	margin: 0px;
}

body {
	height: 4000px;
	background-color:  #30323d;
}
/*------------------------------------------------- GRILLE --------------------------------------------------*/

.container_grid {
	position: absolute;
	display:grid;
	grid-template-columns: repeat(24, 40px);
	grid-gap:10px;
 }
/*------------------------------------------------------- TEXTES -------------------------------------------------------*/

a { 
	color: #219ebc; 
} /* CSS link color */

p {
	color: #FFFFFF;
	font-family: 'Montserrat', sans-serif;
	font-size: 15px;
}
h3 {
	color: #FFFFFF;
	font-family: 'Montserrat', sans-serif;
	font-size: 20px;
}

/*------------------------------------------------------- CHARGEMENT -------------------------------------------------------*/
#loading{
    background-color: black;
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: 111
}
#video {
    margin: 0;
    width: 100%;
    height:auto;
}
/*------------------------------------------------------ BARRE DE NAVIGATION ------------------------------------------------*/

.logo_musée {
	position: fixed;
	vertical-align: middle;
	margin-left: 10px;
	height:80px;
}
.nav_bar {
	width: 100%;
	height:80px;
	position: fixed;
	z-index: 4;
	background-color: #30323d;
	box-shadow: 0 15px 20px rgba(0, 0, 0, 0.1);
}
ul {
	padding:20; /*décalage vers la droite*/
	margin:0; /*décalage vers le bas*/
	list-style-type:none;
	position: fixed;
	left: 140px;
	background-color: #30323d;
	z-index: 3;
 }
 li {
	margin-left:5px; /*Séparation entre chaque bloc*/
	float:left; /*pour que l'alignement soit horizontal*/
 }
 ul li a { /*Bouton Normal*/
 	padding-top: 25px;
	float:left;   
	width:200px;
	height:55px;
 	text-decoration:none;
 	text-align:center;
 	font-family: 'Montserrat';
 	font-size: 20px;
 	font-weight: bold;
 	background-color: #30323d;
 	color: white;
	cursor:pointer;
	display: block;
	margin:auto;
 }
  ul li a:hover { /*Bouton Survolé*/
 	text-decoration:none;
 	text-align:center;
 	font-family: 'Montserrat';
 	background-color: white;
 	color: grey;
	cursor:pointer;
	margin:auto;
 }
.active {
	background-color: #D62839;
  }
/*----------------------------------------------------------- TITRE ----------------------------------------------------------*/

.titre  {  
	position: relative;
	top:250px;
	width: 100%;
	height: 200px;
}

.titre h1 {				 /*TITRE MUSÉE D'AQUITAINE*/
	position: absolute;
	left: 50%;
	transform: translate(-50%, -50%);
	color: #FFFFFF;
	font-family: 'Cormorant Garamond', sans-serif;
	font-size: 75px;
	z-index: 0;
	text-align: center;
}
.titre h2 {				/*SOUS-TITRE PRÉSENTATION*/
	padding-top:140px;
	color: #FFFFFF;
	font-family: 'Montserrat', sans-serif;
	font-size: 25px;	
	text-align: center;
 }		     
 #ligne2
{
		padding-top:0;
}
.presentation { 
	position: relative;
}
/*------------------------------------------------------- DÉGRADÉ -------------------------------------------------------*/
  
/*.box {
	background: linear-gradient(0deg, rgba(48, 50, 61, 0) 0%, #000000 27.8%, #000000 74.3%, rgba(48, 50, 61, 0) 100%);
}

.box p {
	padding: 150px;
}*/
#reload {
	width:100%;
}

/* nouvelle homepage */


container-grid{
	display: grid;
	grid-template-columns:repeat(24,40px);
	grid-gap:10px ;
}

.unbloque {
	border-radius: 5px 10px 10px 10px;
	grid-column: 4/24;
	margin-top: 650px;
	color: #FFFFFF;
	position: relative;
	background-color: #17171ade;
	height: auto;
	width: 1000px;
}
.photo {
	height: 150px;
	width: 150px;
	position: relative;
	border-radius: 10px 10px 0px 0px;
}

.h1{ 
	position: absolute;
	text-align: center;
	display: inline;
	margin-left: 000px;
	font-size: medium;
	font-family: 'Montserrat', sans-serif;
}
.placement-premiere-phrase {
	margin-top: 45px;
	position: absolute;
	display:inline ;
	text-align: center;
}

#leboutton{
	
	border-radius: 10px;
	font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
	position: absolute;
	right: 0;
	bottom: 0;
	color:#ffffff;
	background-color: #17171ade;
	border: rgb(255, 255, 255);
	margin-left: 150px;	
}


.deuxbloque {
	border-radius: 5px 10px 10px 10px;
	grid-column: 4/24;
	margin-top: 150px;
	color: #FFFFFF;
	position: relative;
	display: flex;
	flex-direction: row;
	background-color: #17171ade;
	height: auto;
	width: 1000px;
	max-height:170px ;
}

.placement-deuxieme-phrase {
	margin-top: 45px;
	position: relative;
	display:inline ;
	text-align: left;
}

.h11{ 
	top: 0px;
	margin-top: 0px;
	position: relative;
	text-align: center;
	display: inline;
	padding-left: 771px;
	font-size: medium;
	font-family: 'Montserrat', sans-serif;
}

.photo2 {
	
	height: 150px;
	width: 170px;
	position: relative;
	border-radius: 10px 10px 0px 0px;
}

#leboutton2{
	
	border-radius: 10px;
	font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
	position: absolute;
	left: 0;
	bottom: 0;
	color:#ffffff;
	background-color: #17171ade;
	border: rgb(255, 255, 255);
	
}

.div{
	display: flex;
	flex-direction: column;


}


.troisbloque {
	border-radius: 5px 10px 10px 10px;
	grid-column: 4/24;
	margin-top: 150px;
	color: #FFFFFF;
	position: relative;
	background-color: #17171ade;
	height: auto;
	width: 1000px;
}
.photo3 {
	height: 150px;
	width: 150px;
	position: relative;
	border-radius: 10px 10px 0px 0px;
}

.h3{ 
	grid-column: 5/24;
	position: absolute;
	text-align: left;
	display: inline;
	margin-left: 000px;
	font-size: medium;
	font-family: 'Montserrat', sans-serif;
}
.placement-troisième-phrase {
	margin-top: 45px;
	position: absolute;
	display:inline ;
	text-align: center;
}

#leboutton3{
	
	border-radius: 10px;
	font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
	position: absolute;
	right: 0;
	bottom: 0;
	color:#ffffff;
	background-color: #17171ade;
	border: rgb(255, 255, 255);
	margin-left: 150px;	
}

div button a {
	background-color:#17171ade;
	border-radius: 10px;
	text-decoration: none;	
	color: white;

}

#pied-pour-la-map {
	position: absolute;
	margin-top: 220px;
	width: 100%;
	height:700px ;
	background-color: rgba(0, 0, 0, 0.582);
}

/* .carte {
	position: absolute;
	display: inline-flex;
	margin-left: 680px;
	margin-top: 30px;
	height: 60%;
}

.text1 {
	position: absolute;
	float: left;
	background-color: white;
	
}
#adresse {
	font-size: 27px;
	color:white ;
	margin-left: 10px;
	margin-top: 15px;
}

#trait_dessus
{
border-top: 1px solid white;
width : 300px;
margin-left: 150px;
} 

.itineraire {
 position: absolute;
 display: block;
 margin-left: 40px;
 font-size: 20px;
 padding-top: 40px;
 color: white;
}


.venez {
	color: white;
	margin-top: 350px ;
	font-size: 35px;
	margin-left: 100px;
}

.ouvert {
	color: white;
	margin-top: 20px;
	margin-left: 20px;
}

.contacter {
	color: white;
	margin-top: -93px ;
	font-size: 35px;
	margin-left: 700px;
	position: absolute;
}

.num {
	color: white;
	margin-top: -38px;
	margin-left: 750px;
} */

footer{
	padding:50px;
	box-sizing: border-box;
}

.ligne1{
	
	width: 100%;
	display: flex;
	max-height:500px;
	justify-content: space-between;
	color: white;
	font-size: 30px;
	margin-bottom: 50px;
}
.ligne2{
	color: white;
	
	width: 100%;
	height: 400px;
	display: flex;
}

.ligne1 p:first-child{
margin-bottom: 100px;
padding-bottom: 15px;
border-bottom: solid 1px white;
}

.ligne1 p:last-child{
margin-top: 15px;
font-size: 25px;
}

.ligne2 p:first-child{
font-size: 40px;
padding-left: 87px;
}

#tel {
	padding-left: 110px;
}
